<%- include('../partials/header') %>
<div class="row d-flex mb-5">

    <h2><%= title %></h2>
</div>
<div class="row">
    <form id="edit-book" action="/books" method="POST">
    <fieldset>
        <legend>Book</legend>
        <div>
            <label for="title">Update title:</label><br />
            <input type="text" name="title" id="title" value="<%= book.title %>">
        </div>
        <div>
            <label for="author">Update author:</label><br />
            <input type="text" name="author" id="author" value="<%= book.author %>">
        </div>
    </fieldset>

    <div col-xs-12 class="mb-4">
        <input type="submit" value="Update Book">
    </div>
    </form>
</div>

</div>
<%- include('../partials/footer') %>