<%- include('../partials/header') %>
    <main id="bookcards">
    <div class="container py-5">
        <div class="flex-row d-flex justify-content-center mb-5 pa-4">
        
            <h2><%= title %></h2>
        </div>
<div class="flex-row d-flex justify-content-center mb-5 pa-4">
    <div class="card pa-3 mb-4">
        <div class="card-body">

    <form id="edit-book" action="/books/<%= book._id %>/edit?_method=PUT" method="POST">
    <fieldset>
        <legend>Book</legend>
        <div>
            <label for="title">Update title:</label><br />
            <input type="text" name="title" id="title" value="<%= book.title %>">
        </div>
        <div>
            <label for="author">Update author:</label><br />
            <input type="text" name="author" id="author" value="<%= book.author %>">
        </div>
    </fieldset>
    <div col-xs-12 class="mb-4">
        <input type="submit" value="Update Book">
    </div>
    </form>
            </div><!-- end card-body -->
            </div><!-- end card-->
</div><!-- end row-->
</div><!-- end container -->
<%- include('../partials/footer') %>