<div class="row d-flex justify-content-center mb-5">

    <h2><%= title %></h2>
</div>
<div class="row d-flex justify-content-around">
<% books.forEach(function(b){ %>

    <div class="card pa-3 mb-4">
        <div class="card-body">
            <h5 class="card-title">
                Title: <%= b.title %>
            </h5>
            <h6>Author: <%= b.author %></h6>
            <p>Category: <%= b.category.genre %></p>
            <p>Same number?: <%= b._id %></p>
            <div class="card-text">
              <%  b.reviews.forEach(function(r) { %>
                    <p>Rating: <%= r.rating %></p>
                    <p>Review: <%= r.content %></p>
              <%  }); %>
        <a href="/books/<%= b._id %>" class="btn btn-primary">Edit</a>
        <form action="/books/<%= b._id %>/?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
            </div>
        </div>
    </div>
<% }); %>
</div>