<main id="bookcards">
<div class="container py-5">
<div class="row mb-5">
<div class="col-12">
    <h2><%= title %></h2>
</div>
<div class="col-12">
    <p>ID: <%= user.goodreadsId %></p>
    <p>Name: <%= user.displayName %></p>
</div>
</div>
<div class="row d-flex justify-content-around">
<% books.forEach(function(b){ %>

    <div class="card pa-3 mb-4">
        <div class="card-body">
            <h5 class="card-title">
                Title: <%= b.title %>
            </h5>
            <h6>Author: <%= b.author %></h6>
            <p><a href="/books/<%= b._id %>" class="btn btn-light">Edit</a></p>
            <hr>
            <div class="card-text">
                <p>Category: <%= b.category.genre %></p>
              <%  b.reviews.forEach(function(r) { %>
                    <p>Rating: <%= r.rating %></p>
                    <p>Review: <%= r.content %></p>
              <%  }); %>
        <form action="/books/<%= b._id %>/?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-secondary">Delete Book</button>
        </form>
            </div>
        </div>
    </div>
<% }); %>
</div>
</div>