<main id="bookcards">
<div class="container py-5">
<div class="row mb-5 justify-content-center">
<div class="col-12">
    <p class="text-center"><img src="/images/2020-bubble.svg" alt="book logo" width="228px" height="68px"></p>
    <h1 class="text-center"><%= title %></h1>
</div>
<div class="col-12 mt-4">
    <p class="text-center"><a class="btn btn-primary btn-lg mx-auto" href="/books/new" role="button">Add Book</a></p>
</div>
</div>
<div class="row d-flex justify-content-around align-items-stretch">
<% books.forEach(function(b){ %>
    <div class="card mb-4">
        <div class="card-header bg-pop">
            <h2 class="card-title">
                <%= b.title %>
            </h2>
            <h3>by <%= b.author %></h3>
            <p><a href="/books/<%= b._id %>" class="btn btn-secondary mt-3">Edit</a></p>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p><strong>Category:</strong> <%= b.category.genre %></p>
              <%  b.reviews.forEach(function(r) { %>
                    <p><strong>Rating:</strong> <%= r.rating %></p>
                    <p><strong>Review:</strong> <%= r.content %></p>
              <%  }); %>
            </div>
        </div>
        <div class="card-footer">
            <form action="/books/<%= b._id %>/?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-primary">Delete Book</button>
            </form>
        </div>
    </div>
<% }); %>
</div>
</div>